<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/bootstrap.css">
<title>익명게시판</title>
</head>
<body>
<div class="container">
  <h3>익명게시판</h3>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(item => { %>
      <tr>
        <td scope="row"><%= item.id %></td>
        <td><a href="/view/<%= item.id %>"><%= item.title %></a></td>
        <td><%= item.writer %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <a href="/write" class="btn btn-outline-success">글쓰기</a>
</div>
</body>
</html>