<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/bootstrap.css">
  <title>Document</title>
</head>
<body>
<div class="container">
  <br>
  <br>
  <h3>새글쓰기</h3>
  <form action="/write" method="POST">
    <table class="table">
      <tbody>
        <tr>
          <th>제목</th>
          <td><input type="text" name="bTitle" placeholder="제목을 입력하세요" value="제목이지롱"></td>
        </tr>
        <tr>
          <th>내용</th>
          <td><input type="text" name="bContents" placeholder="내용을 입력하세요" value="내용이지롱"></td>
        </tr>
        <tr>
          <th>작성자</th>
          <td><input type="text" name="bWriter" placeholder="작성자를 입력하세요" value="작성자이지롱"></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-outline-success" type="submit">글쓰기</button>
    <a href="/" class="btn btn-outline-warning">목록</a>
  </form>
</div>
</body>
</html>